h1{
    text-align: center;
}
.form{
    background-color: rgb(219, 219, 219);
    text-align: center;
}
.title{
    background-color: rgb(61, 61, 243);
    color: white;
}
.line{
    background-color: white;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid white;
    padding: 8px;
}
