.background{
    background: rgb(244, 244, 204);
    border-left: 8px solid rgb(224, 224, 42);
    padding-left: 8px;
}
.hihi{
    line-height: 3px;
}
.haha{
    padding-bottom: 25px;  
}
.hoho{
    padding-top: 25px;
}