.container {
    height: 350px;
    width: 850px;
}
.header{
    background-color: white;
    position: relative;
    right:-40px;
    top:60px;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    width: 200px;
    background-color: rgb(205, 205, 205);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    border-radius: 5px;
}

.p1 {
    padding: 10px 0 10px 0;
    background-color: rgb(100, 102, 102);
    background-image: linear-gradient(gray, white);
    }

.main {
    margin-left: 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

}