.form{
    display: flex;
    gap:30px;
    text-align: center;
    margin-top: 60px;
    margin-left: 20px;
}
.header{
    font-size: 30px;
    margin-left: 400px;
    position: relative;
    top:50px;
}
.yellow{
    background-color: yellow;
}