table{
    width: 40%;
    height: 2px;
}
p{
    padding-left:100px;
}
h3{
    padding-left: 100px;
}
.container1{
    border:2px solid rgb(173, 182, 182);
    width: 55px;
    height: 55px;
    transform: rotate(45deg);
    margin-left: 10px;
    position: relative;
    top:159px
}
.box{
    transform: rotate(310deg);
    padding: 20px;
    color: red;
}
.container2 {
    border: 2px solid rgb(173, 182, 182);
    width: 55px;
    height: 55px;
    transform: rotate(45deg);
    margin-left: 10px;
    position: relative;
    top: 159px;
    left:2px
}
.box2 {
    transform: rotate(310deg);
    padding: 20px;
    color: red;
}
.container3 {
    border: 2px solid rgb(173, 182, 182);
    width: 55px;
    height: 55px;
    transform: rotate(45deg);
    margin-left: 10px;
    position: relative;
    top: 55px;
    left: 2px
}

.box3 {
    transform: rotate(310deg);
    padding: 20px;
    color: red;
}
.three{
    position: relative;
    bottom:100px
}
.container4 {
    border: 2px solid rgb(173, 182, 182);
    width: 55px;
    height: 55px;
    transform: rotate(45deg);
    margin-left: 10px;
    position: relative;
    top: 55px;
    left: 2px
}

.box4 {
    transform: rotate(310deg);
    padding: 20px;
    color: red;
}

.four {
    position: relative;
    bottom: 100px
}
p{
    opacity: 0.5;
}